<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}} <p style="color: yellow">(Server waits 2 seconds before returns data using normal way)</p>
  </div>

  <div class='panel-body'>
    <div class="wizard">
      <a [routerLink]="['info']">Basic Information</a>
      <a [routerLink]="['tags']">Search Tags</a>
    </div>
  </div>

<!--  <form class='form-horizontal'
        [formGroup]='productForm'
        novalidate> -->
    <router-outlet [parentForm]='productForm'></router-outlet>
<!--</form>  -->

  <div class='panel-footer'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-2'>
            <span>
              <button class='btn btn-primary'
                      type="submit"
                      style='width: 80px; margin-right: 10px'
                      (click)='saveProduct()'
                      [disabled]='!productForm.valid'>Save</button>
            </span>

            <span>
              <button class='btn btn-default'
                      style='width: 80px'
                      [routerLink]="['/products']" queryParamsHandling='preserve'>Cancel</button>
            </span>

            <span *ngIf='product?.id'>
              <a class='btn btn-default'
                 style='width: 80px'
                 (click)="deleteProduct()">Delete</a>
            </span>
          </div>
    </div>
  </div>
</div>